<div>
<form class="form-horizontal visuallyhidden" id="form">
<fieldset>
<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
    <input id="name" name="name" type="text" placeholder="Name" class="input-xlarge" data-validation="length" data-validation-length="min2">
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="lastname">Last name</label>
  <div class="controls">
    <input id="lastname" name="lastname" type="text" placeholder="Last name" class="input-xlarge" data-validation="length" data-validation-length="min2">
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="email">Your e-mail</label>
  <div class="controls">
    <input id="email" name="email" type="text" placeholder="email@domain.com" class="input-xlarge" data-validation="email">
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <div class="controls">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">OK</button>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <div class="controls">
    <label class="checkbox inline" for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1234" checked>
      J'accepte les conditions
    </label>
  </div>
</div>

</fieldset>
</form>
</div>