  <div id="shoot" data-click="shoot" class="button active">
    <div id="shoot-icon"></div>
    <div class="separator"><hr></div>
    <div>СФОТОГРАФИРОВАТЬ</div>
    <div>TAKE PHOTO</div>
  </div>
   <div id="reshoot" data-click="reshoot" class="button active">
    <div id="reshoot-icon"></div>
    <div class="separator"><hr></div>
    <div>СФОТОГРАФИРОВАТЬ</div>
    <div>START AGAIN</div>
  </div>
  <div class="counting">
    <div class="logo-place"></div>
    <div id="countdown" data-timer="5"></div>
  </div>
  <div id="send" data-target="#main" data-click="partial/form.html" data-modal="modal" class="button disable md-trigger md-setperspective" data-message="You need to make a photo to continue." data-title="Please !">
    <div id="send-icon"></div>
    <div class="separator"><hr></div>
    <div>СФОТОГРАФИРОВАТЬ</div>
    <div>SEND</div>
  </div>